<div class="toast-container">
  <div 
    *ngFor="let toast of toasts" 
    class="toast {{ getToastClass(toast.type) }}"
    [class.toast-enter]="true"
    (click)="removeToast(toast.id)"
  >
    <div class="toast-icon">
      <i class="bi {{ getToastIcon(toast.type) }}"></i>
    </div>
    
    <div class="toast-content">
      <div class="toast-title">{{ toast.title }}</div>
      <div class="toast-message">{{ toast.message }}</div>
    </div>
    
    <div class="toast-close" (click)="removeToast(toast.id); $event.stopPropagation()">
      <i class="bi bi-x"></i>
    </div>
  </div>
</div>
